<div class="flex items-center">
  <!-- コメントアイコン -->
  <%= link_to post_comments_path(post), class: "text-gray-600 hover:text-gray-900 flex items-center" do %>
    <i class="fas fa-comment text-lg"></i>
  <% end %>
  
  <!-- コメントカウント -->
  <%= link_to post_comments_path(post), class: "text-gray-700 text-lg ml-4 hover:text-gray-900" do %>
    <%= post.comments.count %>
  <% end %>
</div>
