<footer id='footer' class='footer-bottom bg-gray-200 py-4'>
  <div class='container mx-auto'>
    <div class='flex justify-center'>
      <div class='text-center'>
        <div class='copyright'>
          <p>Copyright © 2024. Giftrail</p>
        </div>
      </div>
    </div>
  </div>
</footer>

