<footer id='footer' class='footer-bottom bg-gray-200 py-4'>
  <div class='container'>
    <div class='row justify-center'>
      <div class='col-sm-6 col-12 text-center'>
        <div class='copyright'>
          <p>Copyright © 2024. Giftrail</p>
        </div>
      </div>
    </div>
  </div>
</footer>
