<footer id="footer" class="footer-bottom py-4">
  <div class="container mx-auto">
    <div class="flex justify-center items-center">
      <div class="text-center">
        <!-- 利用規約とプライバシーポリシーのリンク -->
        <div class="footer-links mb-2">
          <a href="<%= terms_of_service_path %>" class="text-sm text-gray-500 hover:text-gray-700 mx-2">利用規約</a>
          <span>&nbsp;&nbsp;&nbsp;</span> <!-- 空白スペース -->
          <a href="<%= privacy_policy_path %>" class="text-sm text-gray-500 hover:text-gray-700 mx-2">プライバシーポリシー</a>
        </div>

        <!-- Xシェアボタン -->
        <div id="share-button" class="mt-4">
          <%= link_to "https://twitter.com/intent/tweet?url=#{CGI.escape(root_url)}&text=#{CGI.escape(default_meta_tags[:description] + " 投稿してみよう！")}", 
                      target: "_blank", 
                      class: "inline-block" do %>
            <%= image_tag 'logo-black.png', alt: 'X Logo', style: 'width: 20px; height: 20px;' %>
          <% end %>
        </div>

        
        <!-- コピーライト情報 -->
        <div class="copyright">
          <p>© 2024 Giftrail</p>
        </div>
      </div>
    </div>
  </div>
</footer>