<div id="nav-menu" class="hidden">
  <ul class="flex flex-col items-center">
    <li><a href="#home" class="p-4">ホーム</a></li>
    <li><a href="#about" class="p-4">について</a></li>
    <li><a href="#contact" class="p-4">お問い合わせ</a></li>
  </ul>
</div>