<div id="nav-menu" class="hidden">
  <ul class="flex flex-col items-center">
    <li><%= link_to "ホーム", root_path, class: "p-4" %></li>
    <li><%= link_to "について", "#", class: "p-4" %></li>
    <li><%= link_to "お問い合わせ", "#", class: "p-4" %></li>
  </ul>
</div>
