<div class="bg-gray-200 py-10">
  <div class="flex items-center justify-center">
    <%= image_tag 'logo.svg', alt: 'ロゴ', class: 'px-0 py-0 mb-2' %>
  </div>

  <div class="flex items-center justify-center">
    <h2 class="text-3xl md:text-4xl font-bold text-center">「お土産選びをもっと楽しく、便利に」</h2>
  </div>

  <div class="flex items-center justify-center mt-2">
    <p class="font-mono text-lg md:text-xl text-gray-700 text-center">ユーザー同士でお土産や手土産の情報を簡単に共有できるアプリです。</p>
  </div>
  
<div class="flex flex-col sm:flex-row justify-center mt-7 mb-20">
  <input type="text" 
         id="search-input" 
         name="search" 
         placeholder="検索してみる  例:チョコレート" 
         class="border border-gray-300 rounded-l-md py-2 px-4 w-full sm:w-80 md:w-96 focus:outline-none focus:ring-2 focus:ring-blue-500 mb-2 sm:mb-0" />
  <button class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600 sm:ml-2">
    <i class="fas fa-search"></i>
  </button>
</div>

  <div class="flex justify-center mb-10">
    <button class="btn btn-active btn-accent text-sm sm:text-base py-2 px-4">投稿してみる</button>
  </div>
</div>

