<div class="bg-gray-200">
  <div class="flex items-center justify-center">
    <%= image_tag 'logo.svg', alt: 'ロゴ', class: 'px-0 py-0 mb-2' %>
  </div>

  <div class="flex items-center justify-center">
    <h2 class="text-4xl font-bold">'お土産選びをもっと楽しく、便利に'</h2>
  </div>

  <div class="flex items-center justify-center">
  <p class="font-mono text-xl text-gray-700">ユーザー同士でお土産や手土産の情報を簡単に共有できるアプリです。</p>
  </div>
  
  <div class="flex justify-center mt-5">
    <input type="text" placeholder="検索..." class="border border-gray-300 rounded-l-md py-2 px-4 w-96 focus:outline-none focus:ring-2 focus:ring-blue-500" />
    <button class="bg-blue-500 text-white rounded-r-md py-2 px-4 hover:bg-blue-600">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>