<div class="hero bg-base-200 min-h-screen flex items-center justify-center">
  <div class="card bg-base-100 max-w-3xl shadow-2xl">
    <div class="text-center mb-4" style="margin-top: 40px;">
      <h1 class="text-4xl font-bold py-6">プライバシーポリシー</h1>
    </div>

    <div class="card-body">
      <h2 class="text-xl font-semibold">お客様から取得する情報</h2>
      <p>当社は、お客様から以下の情報を取得します。</p>
      <ul class="list-inside list-disc">
        <li>氏名(ニックネームやペンネームも含む)</li>
        <li>メールアドレス</li>
        <li>写真や動画</li>
        <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>パスワード</li>
        <li>居住地</li>
      </ul>
    </div>

    <div class="card-body">
      <h2 class="text-xl font-semibold">お客様の情報を利用する目的</h2>
      <p>当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul class="list-inside list-disc">
        <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様の当社サービスの利用履歴を管理するため</li>
        <li>お客様からのお問い合わせに対応するため</li>
        <li>当社の規約や法令に違反する行為に対応するため</li>
        <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
      </ul>
    </div>

    <div class="card-body">
      <h2 class="text-xl font-semibold">安全管理のために講じた措置</h2>
      <p>当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
    </div>

    <div class="card-body">
      <h2 class="text-xl font-semibold">第三者提供</h2>
      <p>当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
      <p>但し、次の場合は除きます。</p>
      <ul class="list-inside list-disc">
        <li>個人データの取扱いを外部に委託する場合</li>
        <li>当社や当社サービスが買収された場合</li>
        <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
        <li>その他、法律によって合法的に第三者提供が許されている場合</li>
      </ul>
    </div>

    <div class="card-body">
      <h2 class="text-xl font-semibold">プライバシーポリシーの変更</h2>
      <p>当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
    </div>

    <div class="card-body">
      <h2 class="text-xl font-semibold">お問い合わせ</h2>
      <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<a href="http://localhost:3000/contacts/new" target="_blank" class="text-primary underline hover:text-primary-focus">こちら</a>にご連絡ください。</p>
      <p>この場合、必ず、運転免許証のご提示等当社が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。</p>
    </div>

    <div class="card-footer text-center mt-6">
      <p class="text-sm text-gray-600">2025年01月09日 制定</p>
    </div>
  </div>
</div>


